/ Modal
#memberModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "memberModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        = image_tag "welcome.png"