#content
  #page-header
    .row
      .span12
        %h2 About me
  .row
    .span12
      %h3.headline
        %span Meet the Artist
  .row
    .span4
      .team-member
        = image_tag @user.avatar.url.gsub("//s3.", "https://s3-us-west-2.")
        %br.clear/
        %h2
          = @user.name
        %h3
          = @user.designation
        .social-media
          %a.facebook-icon.social-icon{:href => "#"}
            %i.fa.fa-facebook
          %a.twitter-icon.social-icon{:href => "#"}
            %i.fa.fa-twitter
          %a.googleplus-icon.social-icon{:href => "#"}
            %i.fa.fa-google-plus
          %a.pinterest-icon.social-icon{:href => "#"}
            %i.fa.fa-pinterest
    .span8
      .icon-box-1
        %i.ifc-umbrella_filled
        .icon-box-content
          %h4 My Story
      %p
        = @user.description.html_safe
