#content
  #page-header
    .row
      .span12
        %h2 Services
  .row
    .span12
      %h3.headline
        %span Services
  .row
    - @services.each_slice(2).each do |service|
      - if service[0].present?
        .span6
          .icon-box-1
            %i.ifc-document
            .icon-box-content
              %h3
                = link_to "#{service[0].title}", service_path(id: service[0].id)
      - if service[1].present?
        .span6
          .icon-box-1
            %i.ifc-document
            .icon-box-content
              %h3
                = link_to "#{service[1].title}", service_path(id: service[1].id)