#content
  #page-header
    .row
      .span12
        %h2 Services
  .row
    .span12
      %h3.headline
        %span Services
  .row
    - @services.each do |service|
      .span12
        .icon-box-1
          %i.ifc-document
          .icon-box-content
            %h3
              = link_to "#{service.title}", service_path(id: service.id)