#content
  #page-header
    .row
      .span12
        %h2 Services
  .row
    .span12
      %h3.headline
        %span Services
  .row
    - @services.each do |service|
      .services-span
        .icon-box-1
          %i.fa.fa-hand-o-right
          .icon-box-content
            %h3
              = link_to "#{service.title}", service_path(id: service.id)
