#footer-bottom
  .row
    #footer-bottom-widget-area-1.span6
      .widget.widget_text
        .textwidget
          %p.last
            %img.responsive-img{:alt => "", :src => "_layout/images/logo.png"}/
            %span.hidden-tablet.hidden-phone Copyright © 2016 Synergene
    #footer-bottom-widget-area-2.span6.text-right
      .widget.ewf_widget_social_media
        .fixed
          %a.facebook-icon.social-icon{:href => "#"}
            %i.fa.fa-facebook
          %a.googleplus-icon.social-icon{:href => "#"}
            %i.fa.fa-google-plus
          %a.linkedin-icon.social-icon{:href => "#"}
            %i.fa.fa-linkedin
