/ #footer-middle
/   .row
/     #footer-middle-widget-area-1.span3
/       .widget.widget_text
/         %h3.widget-title
/           %span About us
/         .textwidget
/           %p
/             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
/             Estibulum non aliquam odio, vitae vehicula dolor.
/           %p.last
/             Sed congue ligula nisi, id tempor nibh tempor molestie. Duis interdum neque
/             ligula, sit amet porttitor odio semper.
/     #footer-middle-widget-area-2.span3
/       .widget.ewf_widget_blog-post
/     #footer-middle-widget-area-3.span3
/       .widget.ewf_widget_contact_info
/         %h3.widget-title
/           %span Contact
/         %address
/           %strong Synergene Office
/           %br/
/           102 Devdeep Tower,
/           %br/
/           Near Judges Bungalows,
/           %br/
/           Satya Marg, Bodakdev,
/           %br/
/           Ahmedabad 380054, Gujarat, India
/           %br/
/           %br/
/           Phone: +91 79 26871687
/           %br/
/           E-mail: info [at] synergene [dot] in
/     