#header-top
  .row
    #header-top-widget-area-1.span6
      .widget.widget_text
        .textwidget
          %p.last
            Citius »» Altius »» Fortius 
            
    #header-top-widget-area-2.span6.text-right
      .widget.ewf_widget_social_media
        .fixed
          %a.facebook-icon.social-icon{:href => "#"}
            %i.fa.fa-linkedin
          %a.googleplus-icon.social-icon{:href => "#"}
            %i.fa.fa-google-plus
          %a.twitter-icon.social-icon{:href => "#"}
            %i.fa.fa-twitter
          %a.linkedin-icon.social-icon{:href => "#"}
            %i.fa.fa-facebook
